@import url(/css/fonts.css);

.card-principal {
  background-color: rgb(211, 211, 211);
  box-shadow: 0px 0px 41px -21px rgba(0, 0, 0, 1);
  border-radius: 20px;
  padding: 10px 0 20px 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.btn-dropdown {
  background-color: rgb(211, 211, 211);
}

.linha-padding {
  padding: 0 120px;
}

.botao {
  background-color: #118c3b;
  color: white;
  outline: #118c3b;
  font-weight: bold;
  border-radius: 10px;
}

.botao:hover {
  background-color: #093b1a;
  color: white;
}

#greenname {
  color: #0f8c3b;
  font-weight: bold;
  font-size: 40px;
}

#blackname {
  color: black;
  font-weight: bold;
  font-size: 40px;
}

.titulo {
  font-size: 25px;
  font-weight: bold;
}

#botaocriar {
  background-color: #0f8c3b;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}
#dropdownMenuButton {
  font-weight: bold;
}

#input-pesquisar {
  border-radius: 10px;
  font-weight: bold;
  height: 130px;
}

#logoif {
  justify-content: center;
}

#botao {
  background-color: #0f8c3b;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

#botao:hover {
  background-color: #093b1a;
}

#botaodrop {
  border: solid 0.5px;
  font-weight: bold;
  height: 60px;
}

#questao {
  font-weight: normal;
  font-size: 25px;
}

.form-check-input {
  height: 32px;
  width: 32px;
}

.botaoRemover{
  background-color: #833414;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.botaoRemover:hover{
  background-color: #290e03;
  color: white;
  font-weight: bold;
}
