@import url(/css/fonts.css);

.card-principal {
  background-color: rgb(211, 211, 211);
  box-shadow: 0px 0px 41px -21px rgba(0, 0, 0, 1);
  border-radius: 20px;
  padding: 10px 70px 20px 70px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

hr {
  color: black;
  opacity: 100%;
  margin-top: 30px;
}

.linha-padding {
  padding: 0 120px;
}

#titulo {
  font-size: 30px;
}

#titulo-questao {
  font-size: 40px;
  font-weight: bold;
}

#descricao-questao {
  font-size: 27px;
  font-weight: 300;
}

.opcao {
  font-size: 20px;
}

.botao {
  background-color: #118c3b;
  color: white;
  outline: #118c3b;
}

.sucesso {
  color: #118c3b;
}

.botao:hover {
  background-color: #093b1a;
  color: white;
}

#greenname {
  color: #0f8c3b;
  font-weight: bold;
  font-size: 40px;
}

#blackname {
  color: black;
  font-weight: bold;
  font-size: 40px;
}

.titulo {
  font-size: 25px;
  font-weight: bold;
}

#botaocriar {
  background-color: #0f8c3b;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}
#dropdownMenuButton {
  font-weight: bold;
}

#input-pesquisar {
  border-radius: 10px;
  font-weight: bold;
  height: 130px;
}

#logoif {
  justify-content: center;
}

#botao {
  background-color: #0f8c3b;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

#botao:hover {
  background-color: #093b1a;
}

#botaodrop {
  border: solid 0.5px;
  font-weight: bold;
  height: 60px;
}

#questao {
  font-weight: bold;
  font-size: 35px;
}
