.card-principal {
  background-color: rgb(211, 211, 211);
  box-shadow: 0px 0px 41px -21px rgba(0, 0, 0, 1);
  border-radius: 20px;
  padding: 90px 0 20px 0;
  height: 100%;
}

.btn-dropdown {
  background-color: rgb(211, 211, 211);
}

.linha-padding {
  padding: 0 150px;
}

.botao {
  background-color: #118c3b;
  color: white;
  outline: #118c3b;
}

.botao:hover {
  background-color: #118c3b;
  color: white;
}
